
	<%- partial("_partials/header", { title: "Component Library", id: "home" })%>

	<header class="hero">

		<div class="sliding carousel" id="featured">
			<ul class="wrap">

			<% var count = 0; for (var name in components) { %>
				<% var component = components[name] %>
				<% if (component.featured) { %>
					<li class="slide">
						<div class="v-center">
							<span class="eyebrow">Module by <%= component.author %></span>
							<h1><a href="components/<%= name %>"><%= component.title %></a></h1>
							<p><%= component.blurb %></p>
						</div>
					</li>
				<% count++; } %>
			<% } %>

			</ul>

			<nav>
				<div class="prev"><span>←</span></div>
				<ul>
					<% for (var i = 0; i < count; i++) { %>
					<li></li>
					<% } %>
				</ul>
				<div class="next"><span>→</span></div>
			</nav>
		</div>

	</header>

	<!-- =========================================================================== -->

	<main>

		<div id="tabs">
			<ul>
				<li data-filter="all" class="active">all.</li>
				<li data-filter="css">css</li>
				<li data-filter="js">js</li>
				<li data-filter="carousel">carousel</li>
				<li data-filter="slider">slider</li>
			</ul>
		</div>

	<% for (var name in components) { %>
		<% var component = components[name] %>
		<% if (component.display === false) continue; %>
		<section class="tile" data-tags="all <% for (var i in component.tags) { %><%= component.tags[i] %> <% } %>">
			<div>
				<span class="eyebrow">
				<% for (var i in component.tags) { %><strong><%= component.tags[i] %></strong> <% if(i != component.tags.length-1) { %> / <% } %>  <% } %>
				</span>

				<h2><a href="components/<%= name %>"><%= component.title %></a></h2>

				<p><%= component.blurb %></p>

				<p class="install">
					<% if (component.stash)  { %><a class="icon-stash" href="<%= component.stash  %>">stash</a> <% } %>
					<% if (component.github) { %><a class="icon-github" href="<%= component.github %>">github</a> <% } %>
				</p>
			</div>
		</section>

	<% } %>


	</main>

	<%- partial("_partials/footer")%>

	<script src="js/script.js"></script>
