
	<%- partial("_partials/header", { title: "Component Library", id: "home" })%>

	<header class="hero">

		<div class="sliding carousel" id="featured">
			<ul class="wrap">

			<% var count = 0; for (var name in components) { %>
				<% var component = components[name] %>
				<% if (component.featured) { %>
					<li class="slide">
						<div class="v-center">
							<span class="eyebrow">Module by <%= component.author %></span>
							<h1><a href="/components/<%= name %>"><%= component.title %></a></h1>
							<p><%= component.blurb %></p>
						</div>
					</li>
				<% count++; } %>
			<% } %>
				<!--

				<li class="slide">
					<div class="v-center">
						<span class="eyebrow">Module by Miranda Li</span>
						<h1><a href="#">Autocompleter.</a></h1>
						<p>A lightweight standalone module used for filtering data or autocompletion of user-input</p>
					</div>
				</li>
				<li class="slide">
					<div class="v-center">
						<span class="eyebrow">Module by Jason Divock</span>
						<h1><a href="#">Huge Slider.</a></h1>
						<p>An annoying scroll-jacking slider</p>
					</div>
				</li>

				-->
			</ul>

			<nav>
				<div class="prev"><span>←</span></div>
				<ul>
					<% for (var i = 0; i < count; i++) { %>
					<li></li>
					<% } %>
				</ul>
				<div class="next"><span>→</span></div>
			</nav>
		</div>

	</header>

	<!-- =========================================================================== -->

	<main>
		<div id="tabs">
			<ul>
				<li data-filter="all" class="active">all.</li>
				<li data-filter="css">css</li>
				<li data-filter="js">js</li>
				<li data-filter="carousel">carousel</li>
				<%# <li data-filter="sass">sass</li>%>
				<li data-filter="slider">slider</li>
			</ul>
		</div>


	<% for (var name in components) { %>
		<% var component = components[name] %>

		<section class="tile" data-tags="all <% for (var i in component.tags) { %><%= component.tags[i] %> <% } %>">
			<div>
				<span class="eyebrow">
				<% for (var i in component.tags) { %><strong><%= component.tags[i] %></strong> <% if(i != component.tags.length-1) { %> / <% } %>  <% } %>
				</span>

				<h2><a href="/components/<%= name %>"><%= component.title %></a></h2>

				<p><%= component.blurb %></p>

				<p class="install">
					<% if (component.stash)  { %><a href="<%= component.stash  %>">stash</a> <% } %>
					<% if (component.github) { %><a href="<%= component.github %>"><i class="fa fa-github"></i> github</a> <% } %>
				</p>
			</div>
		</section>

	<% } %>


	</main>

	<%- partial("_partials/footer")%>

	<script src="https://cdn.rawgit.com/apathetic/flexicarousel/master/src/flexicarousel.js"></script>
	<script>

		// ---- carousel ---- //
		var featured = document.querySelector('#featured'),
			bullets = featured.querySelectorAll('nav li'),
			carousel = new Carousel(featured, {
				slides: '.slide',
				offscreen: 1,
				onSlide: updateNav
			});

		featured.querySelector('.prev').addEventListener('click', function(){ carousel.prev(); });
		featured.querySelector('.next').addEventListener('click', function(){ carousel.next(); });

		Array.prototype.forEach.call(bullets, function(bullet, to) {
			bullet.addEventListener('click', function(e) { carousel.go(to); });
		});

		function updateNav(current) {
			for (i = bullets.length; i--;) {
				bullets[i].classList.remove('active');
				bullets[current].classList.add('active');
			}
		}


		// ---- filters ---- //

		var sections = document.querySelectorAll('main section'),
			tabs = document.querySelectorAll('#tabs li'),
			tab,
			tags,
			i, j;

		for (i = tabs.length; i--;) {
			tab = tabs[i];
			tab.addEventListener('click', function(e){
				var filter,
					regex;

				e.preventDefault();
				for (j = tabs.length; j--;) {
					tabs[j].classList.remove('active');
				}

				this.classList.add('active');
				filter = this.getAttribute('data-filter');

				for (j = sections.length; j--;) {
					tags = sections[j].getAttribute('data-tags') || '';
					tags = tags.toLowerCase();
					regex = new RegExp(filter, "i");		// ghetto, doesn't care about surrounding whitespace

					if (!tags.match(regex)) {
						sections[j].classList.add('collapsed');
					} else {
						sections[j].classList.remove('collapsed');
					}
				}
			});
		}


	</script>
