<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../css/styles.css">


	<!-- component stuffs -->
	<% for (var i=0; i<css.length; i++) { %>
	<link rel="stylesheet" href="<%- css[i] %>">
	<% } %>
	<script src="<%- js %>"></script>
	<!-- end component stuffs -->

</head>

<body>


	<header>
		<h1><%- title %></h1>
	</header>

	<nav>
		<div id="sticky">
			<div class="container">
				<nav data-autogenerate="true">
					<ul></ul>
				</nav>
			</div>
		</div>
	</nav>

	<main class="component left-rail">
		<%- content %>
	</main>

	<footer>
		<div class="container">
		</div>
	</footer>

	<% for (var i=0; i<scripts.length; i++) { %>
	<script><%- scripts[i] %></script>
	<% } %>
	<script src="../js/component.js"></script>

</body>
</html>
